elpa
auto-save-list
projectile-bookmarks.eld
var
undo/*
projectile-bookmarks.eld
.*
ac-comphist.dat
.helm-chronos-recent-timers
.mc-lists.el
projectile-bookmarks.eld
.pipempvsocket
network-security.data
bookmarks
\.pipempvsocket
