[submodule "submodules/spinner"]
	path = submodules/spinner
	url = https://github.com/Malabarba/spinner.el
[submodule "submodules/focus"]
	path = submodules/focus
	url = https://github.com/larstvei/Focus
[submodule "submodules/js-refactor"]
	path = submodules/js-refactor
	url = https://github.com/magnars/js2-refactor.el
