elpa
auto-save-list
projectile-bookmarks.eld
var
undo/*
projectile-bookmarks.eld
.*
ac-comphist.dat
.helm-chronos-recent-timers
.mc-lists.el
projectile-bookmarks.eld
.pipempvsocket
network-security.data
bookmarks
\.pipempvsocket
config/flycheck_packages.el
places
recentf
config/personal.el
config/flycheck_core.el
nov-places
transient/history.el
recentf~
